body{
	width: 1200px;
	height: 1000px;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-image: linear-gradient(to bottom , #e5dcdc, #f5a911);
	background-attachment: fixed;
	display: flex;
  	flex-direction: column;
}

.raz {
	width: 800px;
	border-collapse: collapse;
	border-radius: 0 0 8px 8px;
}

.raz td{
	padding: 5px;
 	background: white; 
 	border:1px solid black;

}




.handle {
    display: inline-block;
    border-top: 3px solid red;
    width: 30px;
    padding-top: 5px;
    cursor: grab;
}
.handle:after, .handle:before {
    display: block;
    content: "";
    padding-top: 5px;
    border-top: 3px solid red;
}
.handle:hover, .handle:hover:before, .handle:hover:after {
    border-color: yellow;
}
.handle:active, .handle:active:before, .handle:active:after {
    cursor: grabbing;
}




.title{
	text-transform: uppercase;
	text-align: center;
}

.section{
	
	flex: 1 0 auto;
}
.footer{
	padding-top:100px;
	text-align: center;
	color: white;
	flex-shrink: 0;
}

.footer a.button{
	background: blue;
	color: white;
	border-radius: 8px;
	width: 150px;
	height: 100px;
}

.footer a.button{
	text-decoration: none;
	padding:20px;

}

.section{
	width: 800px;
	padding-top: 20px;
	margin: 0 auto;
}

.project{
	border: 1px solid black;
	background: blue;
	height: 60px;
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.project p {
	font-size: 20px;
	font-weight: bold;
	padding-left: 0px;
	width: 550px;
	border: 1px solid blue;
/*hidden symbols without spase*/
	overflow-x:hidden;
}

.project a{
	padding:4px;
	text-decoration: none;
	color: white;
	
}

.project a.calendar {
	
	margin-left: 20px;
}

.project a.edit {
	
	margin-left: 20px;
}

.project a.edit img {
	
}

.project a.delete {
	
	margin-right: 20px;
}

.project a.edit img {
	
}

.addtask{
	display: flex;
	align-items: center;
	justify-content: space-between;	
	border: 1px solid black;
	background: grey;
	height: 60px;

}

/*.addtask a.button_add_task{
	padding:4px;
	text-decoration: none;
	color: white;
	border:1px solid black;
	background: green;
	border-radius: 8px;
	margin-right: 20px;
}*/

.addtask a.plus{
	margin-left: 25px;
}

.addtask input{
	height: 30px;
	width: 580px;
	padding-left: 20px;
	margin-left: 0px;
	/*hidden symbols without spase*/
	overflow-x:hidden;
}

.addtask button.button_add_task{
	background: green;
	border-radius: 8px;
	margin-right: 20px;
	height: 40px;
	width: 100px;
	color: white;
}

.content{
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	border: 1px solid black;
	border-radius: 0 0 8px 8px;	
}

.content p{
	padding-left: 20px;
	width: 500px;
	border: 1px solid white;
/*hidden symbols without spase*/
	overflow-x:hidden;

}

.content a {
	padding:4px;
	text-decoration: none;
	color: black;
	
}

.content input.checkbox {
	/*background: orange;*/
	/*border-radius: 8px;*/
	margin-left: 30px;
}
.content a.edittask {
	/*background: orange;*/
	/*border-radius: 8px;*/
	margin-left: 20px;
}

.content a.deletetask {
	/*background: red;*/
	/*border-radius: 8px;*/
	margin-right: 20px;
}