{% extends 'tasks/base.html' %}


{% block content %}

	{% for project in projects %}
		<section class="section">

				<div class="project">
					<a class="calendar" href="#">
						<img src=" static/images/calendar.png " alt="calendar_icon">
					</a>
					<p>{{ project.title }}</p>
					<a class="edit" href="{% url 'update_project' project.id %}">
						<img src=" static/images/pencil_icon.png " alt="pencil_icon">
					</a>
					<a  href="{% url 'delete_project' project.id %}" class="delete">
						<img src=" static/images/trash.png " alt="trash_icon">
					</a>
				</div>

				<div class="addtask">
					<a class="plus" href="#">
						<img src=" static/images/plus_icon.png " alt="plus_icon">
					</a>

					<form action="{% url 'create_task' project.id %}" method="POST">

						{% csrf_token %}
						<input type="text" name="title" id="id_title" required placeholder="Start typing here to create a task...">
					

						<button type="submit" class= "button_add_task" href="">Add Task</button>


					</form>
					
					
				</div>

			
				{% for task in project.task_set.all %}

				
					<div class="content">
						
						{% if task.complete == True %}
						<input class="checkbox" type="checkbox" name="complete" id="id_complete" checked >
						{% else %}
						<input class="checkbox" type="checkbox" name="complete" id="id_complete"  >
						{% endif %}

						<p>{{task.title}}</p>

						<a href="{% url 'update_task' task.id %}" class="edittask">
							<img src=" static/images/pencil_icon.png " alt="pencil_icon">
						</a>
						<a href="{% url 'delete_task' task.id %}" class="deletetask">
							<img src=" static/images/trash.png " alt="trash_icon">
						</a>
						
						
						
						

					</div>
				{% endfor%}
			
				
		</section>
	{% endfor %}

{% endblock content %}