{% extends 'tasks/base.html' %}


{% block content %}

	{% for project in projects %}
		<section class="section">

				<div class="project">
					<p>{{ project.title }}</p>
					<a class="edit" href="{% url 'update_project' project.id %}">
						<img src=" static/images/pencil_icon.png " alt="pencil_icon">
					</a>
					<a  href="{% url 'delete_project' project.id %}" class="delete">
						<img src=" static/images/trash.png " alt="trash_icon">
					</a>
				</div>

				<div class="addtask">
					<input type="text" placeholder="Start typing here to create a task...">
					<a href="{% url 'create_task' %}">Add Task</a>
				</div>

			
				{% for task in project.task_set.all %}

				
					<div class="content">
						<input type="checkbox" name="complete">

						<p>{{task.title}}</p>

						<a href="{% url 'update_task' task.id %}" class="edittask">Edit task</a>
						<a href="{% url 'delete_task' task.id %}" class="deletetask">Delete task</a>
						

					</div>
				{% endfor%}
			
				
		</section>
	{% endfor %}

{% endblock content %}